* {
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: rgb(128, 128, 128);
    height: 100vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.main-container h1 {
    padding-top: 5%;
}

.calculadora-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 20px;
}  

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(250,140,31);
    border: none;
    color: #fff;
}

.botao:hover{
    background-color: black;
}

#resultado{
    background-color: white;
    width: 218px;
    height: 40px;
    margin: 5px;
    font-size: 30px;
    color: black;
    text-align: right;
    padding-right: 3px;
}

@media (max-width:330px) {
    .main-container h1 {
        font-size: 20px;
    }
    .calculadora-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
